* {
    background-color: black;
    color:white;
}

h1{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin: 15px 20px;
text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}

#mainwrapper {
    margin: 50px 20%;
}
p {
    text-align: center;
}